#containerProject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.projects{
    display: flex;
    flex-direction: row;
}
.project{
    width: 70%;
    height: auto;
    padding: 10px;
    background-color: rgb(50,50,50);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    
}
#projectImg{
width: 80%;
padding: 5px;
}
h4{
   font-size: 20px;
    font-family: "Libre Baskerville", system-ui;
    font-weight: 100;
    margin: 10px;
}
p{
    margin: 10px;
}
.projectTitle{
    font-size: 50px;
    font-weight: 400;
    font-family:"poppins";

}
@media screen and (max-width:500px) {
    #containerProject{
        width: 100%;
        max-width: 80%;
        height: auto;
    }
    .projects{
      
        display: flex;
        flex-direction: column;
 align-items: center;
 justify-content: center;

left: 30%;

    }
    .project{
        width: 70%;
     text-align: center;
     justify-content: center;
     align-items: center;
    }
}